.introduction-container{
  width: 80%;
  max-width: 1400px;
  margin: auto;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction-title{
  font-family: 'Dongle', sans-serif;
  font-size: 40px;
  margin: auto;
}

.introduction-intro{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 10px 0;
}

.introduction-cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.introduction-card {
  width: 300px;
  height: 370px;
  transition: all 2s ease-in-out;
  margin: 10px;
}


.introduction-card-action {
  width: 100%;
  height: auto;
}

.introduction-category{
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
  font-size:20px;
}

.introduction-about{
  font-family: "Roboto", sans-serif;
}


.help-out {
  position: relative;
  font-size: small;
  vertical-align: middle;
}

.help-out::after{
  opacity: 0;
  content: "Click an image to see a list of posts.";
  position: absolute;
  border: 1.5px solid rgba(117, 195, 86, 0.6);
  border-radius: 10px;
  width: 180px;
  height: auto;
  padding: 10px 5px;
  background: rgba(223, 240, 216, 0.6);
  top: 34px;
  left: 130px;
  transform: translateY(-100%) translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transition: all .6s;
  font-weight: 400;
  z-index: -1;
}

.help-out:hover::after{
  opacity: 1;
  z-index: 1;
}

@media  screen and (max-width: 768px) {
  .help-out::after{
  top: -5px;
  left: 0;
  }
}