*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


::selection {
  background-color: #a8d1ff;
  color: rgb(0, 0, 0);
}

button {
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

a {
  text-decoration: none;
}

main {
  background: rgb(243, 241, 241);
}

.cards{
  width: 70%;
  max-width: 1400px;
  min-height: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination{
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .cards {
    width: 90%;
  }
}

/* a:visited, a:hover, a:focus, a:active {
   text-decoration: none; color:black; } */
