@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title h1 {
  margin-left: 30px;
  font-family: 'Dongle', sans-serif;
  font-size: 50px;

}

.title{
  color: white;
}

.nav-menu{
  margin-right: 10px;
}

.hamburger {
  color: white;
}

.MuiDrawer-paper {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  padding-top: 50px;
}

